$width: 400px;
$height: 200px;
$pages-count: 20;
$initial-deg: 40;

$inner-color: #f9f9f9;
$border-width: 0;

$highlight-color: rgba(#f74561, 0.2);

.Previewer {
  position: relative;

  .book {
    perspective: 1000px;
    position: relative;
    width: $width;
    height: $height;
    margin: 0 auto;

    transition: all 0.8s ease;

    .highlight {
      transition: all 0.3s ease;
      background: $highlight-color;
      //background: repeating-linear-gradient(
      //                135deg,
      //                lighten($highlight-color, 20),
      //                lighten($highlight-color, 20) 10px,
      //                $highlight-color 10px,
      //                $highlight-color 20px
      //);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 4px solid rgba(#fff, 0.6);
      opacity:0;
      &.active {
        opacity: 1;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .cover, .cover > li, .page, .page > li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      &:before, &:after {
        content: "";
      }
    }

    .cover > li, .page > li {
      box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.1), inset 0 0 1px rgba(150, 150, 150, 0.1);
    }

    // Cover

    .cover {
      transition: all 0.3s ease;
      transform-origin: 100% 0;

      canvas {
        //position: absolute;
        //top: 0;
        //left: 0;
        //z-index: 90;
        //z-index: 90;
        //width: 100%;
        //height: 100%;
      }

      > li {

        background-size: cover;

        //&:first-child:after, &:first-child:before, &:last-child:after, &:last-child:before {
        //  background: red; //rgba(#fff, 1);
        //  opacity: 0.6;
        //  position: absolute;
        //  top: 0;
        //  left: 0;
        //}

        //&:first-child:after, &:last-child:after {
        //  //transform: translateY($height);
        //}

        //&:first-child:before, &:first-child:after {
        //  height: 100%;
        //  width: $border-width + px;
        //}
        //&:last-child:before, &:last-child:after {
        //  width: 100%;
        //  height: $border-width + px;
        //}
      }

      &.front {
        transform: rotateX($initial-deg + 8 + deg) translateZ(1px);
        z-index: 100;
        > li {
          &:first-child {
            background-color: #eee;
            background-size: cover;
            backface-visibility: hidden;
            cursor: default;
            user-select: none;
            //transform: translateY(1px);
            &:before {
              //transform: translateX(400px);
              //background: #000;
              //transform: rotateY(90deg) translateZ(158px) translateX(2px);
            }
            &:after {
              //transform: translateX($width - 1);
              //transform: rotateY(-90deg) translateZ(-2px) translateX(2px);
            }
          }
          &:last-child {
            transform: rotateY(180deg) rotateZ(180deg) translateZ(1px);
            background-color: $inner-color;
            &:before {
              //display:none;
              //box-shadow: 0 0 30px 5px #333;
              //  transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
              //transform: rotateY(90deg)  translateZ($height) translateX(-2px);
            }
            &:after {
              //transform: rotateX(90deg) translateY(400px);
              //transform: rotateY(90deg)  translateZ($height) translateX(-2px);
            }
          }
        }

        svg {
          position: relative;
          width: 100%;
          height: 100%;
          z-index: 100;
        }
      }

      &.back {
        transform: rotateX($initial-deg + deg) translateZ(0);
        box-shadow: 0 5px 5px 0 #aaa;
        z-index: -1;
        li {
          &:first-child {
            background-color: $inner-color;
            transform: translateZ(1px);
            &:before {
              //transform: rotateY(90deg) translateZ(158px) translateX(2px);
            }
            &:after {
              transform: translateX($width - 1);
              //transform: rotateY(90deg) translateZ(-2px) translateX(2px);
            }
          }
          &:last-child {
            transform: rotateY(180deg);
            &:before {
              //box-shadow: 10px -1px 80px 20px #666;
              //transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
            }
            &:after {
              //transform: translateY($height);
              //transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
            }
          }
        }
      }

    }

    // Page

    .page {
      //width: 98%;
      top: 0;
      left: 0;
      //z-index: 20;
      > li {
        transform-origin: center top;
        transition-property: transform;
        transition-timing-function: ease;

        background: linear-gradient(0, #e1ddd8 0%, #fffbf6 100%);
        box-shadow: inset 0px -1px 1px rgba(#555, 0.1), inset 0 40px 100px rgba(#666, 0.1);
        //border-radius: 0 5px 5px 0;

        transition-duration: 0.3s;

        $i: $pages-count;
        @while $i > 0 {
          &:nth-child(#{$i}) {
            transform: rotateX($initial-deg + ($i*0.7) + deg);
            //z-index: 100 + $i;
          }
          $i: $i - 1;
        }
        //border-bottom:1px solid rgba(#eee ,0.5);
      }
    }

    // Colors

    @each $name, $color in $product-colors {
      &.color-#{$name} {
        .front {
          color: #fff;
          > li {
            &:first-child {
              //@if $name == transparent {
              //  background: url(./assets/transparent.gif) repeat !important;
              //} @else {
              //  background-color: $color;
              //}
            }
          }
        }
        .page {
          > li {
            @if $name == transparent {
              background: transparent;
            } @else {
              background: lighten($color, 10);
            }
          }
        }
      }
    }

    // ----------------------------------------
    // Animations
    // ----------------------------------------

    &.highlight-frontOuter {
      transform: scale(1.1);
      //.cover.front {
      //  li:first-child {
      //    .highlight {
      //      background-color: $highlight-color;
      //    }
      //  }
      //}
    }

    &.highlight-frontInner {
      transform: translateY(100px) scale(1.1);
      .cover.front {
        transform: rotateX(155deg);
        //z-index: 0;
        //li:last-child {
        //  .highlight {
        //    background-color: $highlight-color;
        //  }
        //}
      }
    }

    &.highlight-backInner {
      transform: translateY(0) scale(1.1);
      .cover.front {

        transform: rotateX(155deg);
        z-index: 0;

      }
      //.cover.back {
      //  li:first-child {
      //    .highlight {
      //      background-color: $highlight-color;
      //    }
      //  }
      //}
      .page {
        li {
          $i: 0;
          @while $i < $pages-count {
            &:nth-child(#{$i}) {
              $deg: $initial-deg + 100 + $i;
              transform: rotateX($deg+ deg);
            }
            $i: $i + 1;
          }
        }
      }
    }

    &.highlight-backOuter {
      //transform: rotateZ(180deg);

      transform: rotateZ(180deg) translateY(120%) scale(1.1);
      //transform: translateY(100px);

      .cover.front {
        transform: rotateX(155deg);
        z-index: 0;
      }

      .cover.back {
        transform: rotateX(130deg);
        //li:last-child {
        //  .highlight {
        //    background-color: $highlight-color;
        //  }
        //}
        z-index: 10;
      }

      .page {
        li {
          $i: 0;
          @while $i < $pages-count {
            &:nth-child(#{$i}) {
              $deg: $initial-deg + 110 + $i;
              transform: rotateX($deg+ deg);
            }
            $i: $i + 1;
          }
        }
      }
    }

    &:hover {

      transform: translateY(10px) scale(1);
      .cover.front {
        transform: rotateX(65deg) translateZ(0);
      }
      //.page {
      //  li {
      //    $i: 0;
      //    @while $i < $pages-count {
      //      &:nth-child(#{$i}) {
      //
      //        $deg: $initial-deg + $i * 1.1;
      //
      //        //@if $i > 8 {
      //        //  $deg: $initial-deg -5 + $i*2;
      //        //}
      //
      //        transform: rotateX($deg+ deg);
      //        //transition-duration: ($i * 0.6) + s;
      //      }
      //      $i: $i + 1;
      //    }
      //  }
      //}
    }

  }

  //@keyframes open-front {
  //  from {}
  //  to {transform: rotateX(155deg);z-index:0}
  //}

}