$width: 400px;
$height: 200px;
$pages-count: 50;
$initial-deg: 40;

$inner-color: #f9f9f9;
$border-width: 0;

$highlight-color: rgba(#f74561, 0.2);

$rotate-factor: 0.1;

.Previewer {
  position: relative;

  .book {
    perspective: 1000px;
    position: relative;
    width: $width;
    height: $height;
    margin: 0 auto;

    transition: all 0.8s ease;

    .highlight {
      transition: all 0.3s ease;
      background: $highlight-color;
      //background: repeating-linear-gradient(
      //                135deg,
      //                lighten($highlight-color, 20),
      //                lighten($highlight-color, 20) 10px,
      //                $highlight-color 10px,
      //                $highlight-color 20px
      //);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 7px solid rgba(#fff, 0.6);
      opacity: 0;
      &.active {
        opacity: 1;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .cover, .cover > li, .page, .page > li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      &:before, &:after {
        content: "";
      }
    }

    .cover > li, .page > li {
      //box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.1), inset 0 0 1px rgba(200, 200, 200, 0.1);
    }

    // Cover

    .cover {
      transition: all 0.2s ease;
      transform-origin: 100% 0;

      > li {
        // TODO: think
        background-position: center center;
        background-color: #eee;
        background-size: 107%;
        //background-size: cover;
        background-repeat: no-repeat;
        backface-visibility: hidden;
        cursor: default;
        user-select: none;
      }

      &.front {
        transform: rotateX(($initial-deg + ($pages-count*$rotate-factor)) + deg) translateZ(1px);
        z-index: 100;

        > li {
          //border-bottom: 1px solid #fff;
          &:first-child {
            //transform: translateY(1px);
            &:before {
              //transform: translateX(400px);
              //background: #000;
              //transform: rotateY(90deg) translateZ(158px) translateX(2px);
            }
            &:after {
              //transform: translateX($width - 1);
              //transform: rotateY(-90deg) translateZ(-2px) translateX(2px);
            }
            border-bottom: 1px solid #fff;
          }
          &:last-child {
            transform: rotateY(180deg) rotateZ(180deg) translateZ(0);
            background-color: $inner-color;
            &:before {
              //display:none;
              //box-shadow: 0 0 30px 5px #333;
              //  transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
              //transform: rotateY(90deg)  translateZ($height) translateX(-2px);
            }
            &:after {
              //transform: rotateX(90deg) translateY(400px);
              //transform: rotateY(90deg)  translateZ($height) translateX(-2px);
            }
          }
        }
      }

      &.back {
        transform: rotateX($initial-deg + deg);
        box-shadow: 0 3px 5px 0 #ddd;
        z-index: -1;
        li {
          &:first-child {
            background-color: $inner-color;
            //transform: translateZ(1px);
            &:before {
              //transform: rotateY(90deg) translateZ(158px) translateX(2px);
            }
            &:after {
              transform: translateX($width);
              //transform: rotateY(90deg) translateZ(-2px) translateX(2px);
            }
            border-bottom: 1px solid #fff;
          }
          &:last-child {
            transform: rotateY(180deg);
            &:before {
              //box-shadow: 10px -1px 80px 20px #666;
              //transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
            }
            &:after {
              //transform: translateY($height);
              //transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
            }
          }
        }
      }

    }

    // Page

    .page {
      //width: 98%;
      //height:100%;
      top: 0;
      left: 0;
      //z-index: 20;
      > li {
        transform-origin: center top;
        transition-property: transform;
        transition-timing-function: ease;

        background: #fff;
        //background:  linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 8%, rgba(254,254,254,1) 99%, rgb(234, 234, 234) 100%);
        //box-shadow: inset 0px -1px 1px rgba(#555, 0.1), inset 0 40px 100px rgba(#666, 0.1);
        //border-radius: 0 5px 5px 0;

        transition-duration: 0.3s;

        $i: $pages-count;
        @while $i > 0 {
          &:nth-child(#{$i}) {
            transform: rotateX($initial-deg + ($i * $rotate-factor) + deg);
            //z-index: 100 + $i;
          }
          $i: $i - 1;
        }
        //border-bottom:1px solid rgba(#eee ,0.5);
      }
    }

    // ----------------------------------------
    // Modificators
    // ----------------------------------------

    // Colors
    @each $name, $color in $product-colors {
      &.color-#{$name} {
        .front {
          color: #fff;
          > li {
            &:first-child {
              //@if $name == transparent {
              //  background: url(./assets/transparent.gif) repeat !important;
              //} @else {
              //  background-color: $color;
              //}
            }
          }
        }
        .page {
          > li {
            //@if $name == transparent {
            //  background: #fff;
            //} @else {
              //background: lighten($color, $page-color-lighten);

              background: linear-gradient(to bottom,
                      darken($color, 5) 0%,
                      //lighten($color, 20) 8%,
                      lighten($color, 10) 100%
                      //rgb(234, 234, 234) 100%
              );

            border-bottom: 1px solid rgba(234, 234, 234, 0.8)

            //}
          }
        }
      }
    }

    $pages-count-half: 15; // $pages-count/2;
    // Pages count
    &.p#{($pages-count-half)} {
      .cover {
        &.front {
          transform: rotateX(($initial-deg + ($pages-count-half*$rotate-factor)) + deg) translateZ(0);
        }
      }
    }

    // ----------------------------------------
    // Animations
    // ----------------------------------------

    &.animate {
      //transition-duration: 5s !important;
      //transition-delay: 5s !important;

      &-frontOuter {
        //transform: scale(1.1);
      }

      &-frontInner {
        transform: translateY(50%);
        .cover.front {
          transform: rotateX(155deg);
        }
      }

      &-backInner {
        transform: rotateZ(0) translateY(50%) rotateX(0);
        .cover.front {
          transition: z-index 0s;
          transform: rotateX(155deg);
          z-index: 0;
        }
        .cover.back {
          li:first-child {
            .highlight {
              background-color: $highlight-color;
            }
          }
        }
        .page {
          li {
            $i: 0;
            @while $i < $pages-count {
              &:nth-child(#{$i}) {
                $deg: $initial-deg + 100 + ($i * $rotate-factor);
                transform: rotateX($deg+ deg);
              }
              $i: $i + 1;
            }
          }
        }
      }
      &-backOuter {

        transform: rotateZ(180deg) translateY(90%);
        //transform: translateY(100px);

        .cover.front {
          transform: rotateX(155deg);
          z-index: 0;
        }

        .cover.back {
          transform: rotateX(130deg);
          box-shadow: none;
          //li:last-child {
          //  .highlight {
          //    background-color: $highlight-color;
          //  }
          //}
          z-index: 10;
        }

        .page {
          li {
            $i: 0;
            @while $i < $pages-count {
              &:nth-child(#{$i}) {
                $deg: $initial-deg + 110 + $i;
                transform: rotateX($deg+ deg);
              }
              $i: $i + 1;
            }
          }
        }
      }
    }

    &:hover {

      transform: translateY(0.5rem) scale(1);
      .cover.front {
        transform: rotateX(65deg);
      }
      //.page {
      //  li {
      //    $i: 0;
      //    @while $i < $pages-count {
      //      &:nth-child(#{$i}) {
      //
      //        $deg: $initial-deg + $i * 1.1;
      //
      //        //@if $i > 8 {
      //        //  $deg: $initial-deg -5 + $i*2;
      //        //}
      //
      //        transform: rotateX($deg+ deg);
      //        //transition-duration: ($i * 0.6) + s;
      //      }
      //      $i: $i + 1;
      //    }
      //  }
      //}
    }

  }

  //@keyframes open-front {
  //  from {}
  //  to {transform: rotateX(155deg);z-index:0}
  //}

}